
<div>
    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/list">Registros</a>
            </li>
            <li>
                <a href="/register">Cadastrar</a>
            </li>
        </ul>
    </nav>
</div>

<hr>