<!DOCTYPE html>
<html lang="pt-br">
    <%- include('partials/header.ejs') %>
<body>
    <h1><%= title %></h1>

    <%- include('partials/navbar.ejs') %>

    <%- include('partials/foot.ejs') %>
</body>
</html>